@use "../mixins/mixins";
@use "variables";

body {
	font-family: 'UbuntuMono', sans-serif;
	@include mixins.adaptiveValue('font-size', 18, 16);
	@include mixins.adaptiveValue('line-height', 20, 18);
	font-weight: 400;
	color: var(--color-dark);
	background-color: var(--color-bg);
	position: relative;
	scroll-behavior: smooth;

	&.lock {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 10px;
		background-color: #dfdfdf;
		border-radius: 25px;
		padding: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--color-primary);
		border-radius: 25px;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: var(--color-primary-hover);
		}
	}
}

[class*='__container'],
.container {
	// теперь не нужно использовать класс container
	max-width: variables.$containerWidth;
	margin: 0 auto;
	padding: 0 variables.$containerPadding;
}

#wrapper {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh) * 100);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

main.page {
	flex: 1 1 auto;
}

.section {
	&:not(:last-child) {
		margin-bottom: 100px;
		// @include adaptiveValue('margin-bottom', 100, 80);
	}

	&__title_wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		@include mixins.adaptiveValue('margin-bottom', 64, 48);
	}

	&__title {
		position: relative;
		display: inline-block;
		font-weight: 700;
		@include mixins.adaptiveValue('font-size', 52, 32);
		padding: 10px;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 3px;
			border-radius: 5px;
			background-color: var(--color-primary);
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				height: 100%;
			}
		}
	}
	&__subtitle {
		display: inline-block;
		@include mixins.adaptiveValue('font-size', 18, 16);
		color: var(--color-dark);
		@include mixins.adaptiveValue('margin-top', 32, 20);
		font-weight: 400;
	}
}

h1 {
	font-weight: 700;
	@include mixins.adaptiveValue('font-size', 68, 34);
	@include mixins.adaptiveValue('line-height', 70, 36);
}
h2 {
	font-weight: 700;
	@include mixins.adaptiveValue('font-size', 52, 32);
	@include mixins.adaptiveValue('line-height', 54, 34);
}
h3 {
	// font-weight: 700;
	@include mixins.adaptiveValue('font-size', 22, 18);
	@include mixins.adaptiveValue('line-height', 24, 20);
}
h4 {
	// font-weight: 700;
	@include mixins.adaptiveValue('font-size', 18, 16);
	@include mixins.adaptiveValue('line-height', 20, 18);
}
