.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease;

	&.open {
		opacity: 1;
		visibility: visible;

		.popup__content {
			transform: translateY(0);
			pointer-events: all;
		}
	}

	.popup__body {
		position: relative;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	.popup__content {
		position: relative;
		background-color: var(--color-white);
		color: var(--color-dark);
		max-width: 800px;
		padding: 20px;
		transform: translate(0px, -100%);
		pointer-events: none;
		border-radius: 5px;
		transition: all 0.8s ease;
	}

	.popup__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		transition: all 0.3s ease;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			transform: translate(0, -50%) rotate(45deg);
			background-color: green;
			transition: all 0.3s ease;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			transform: translate(0, -50%) rotate(-45deg);
			background-color: green;
			transition: all 0.3s ease;
		}

		&:hover {
			&::before {
				background-color: red;
				transform: rotate(-45deg);
			}
			&::after {
				background-color: red;
				transform: rotate(45deg);
			}
		}
	}

	.popup__title {
		color: var(--color-dark);
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		position: relative;
		margin-bottom: 15px;
	}

	.popup__text {
		color: var(--color-dark);
		text-align: left;
		font-size: 16px;
		margin-bottom: 15px;

		p:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}
