@use '../mixins/mixins';
@use 'variables';

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease;

	&.open {
		opacity: 1;
		visibility: visible;

		.popup__content {
			transform: translateY(0);
			pointer-events: all;
		}
	}

	&__body {
		position: relative;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	&__content {
		position: relative;
		background-color: var(--color-white);
		color: var(--color-dark);
		max-width: 800px;
		padding: 20px;
		transform: translate(0px, -100%);
		pointer-events: none;
		border-radius: 10px;
		transition: all 0.8s ease;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		transition: all 0.3s ease;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			transform: translate(0, -50%) rotate(45deg);
			background-color: #bebfc0;
			transition: all 0.3s ease;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			transform: translate(0, -50%) rotate(-45deg);
			background-color: #bebfc0;
			transition: all 0.3s ease;
		}

		&:hover {
			&::before {
				background-color: var(--color-primary);
				transform: rotate(-45deg);
			}
			&::after {
				background-color: var(--color-primary);
				transform: rotate(45deg);
			}
		}
	}

	&__title {
		display: inline-block;
		color: var(--color-dark);
		text-align: center;
		position: relative;
		@include mixins.adaptiveValue('margin-bottom', 40, 25);
		margin-left: 50%;
		transform: translateX(-50%);

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: var(--color-primary);
			bottom: -5px;
			left: 0;
			border-radius: 5px;
		}
	}

	&__text {
		color: var(--color-text-grey);
		text-align: left;
		@include mixins.adaptiveValue('font-size', 18, 16);
		@include mixins.adaptiveValue('line-height', 20, 18);
		margin-bottom: 15px;

		p:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__image {
		border-radius: 5px;
		overflow: hidden;
		margin-top: 15px;

		img {
			display: block;
			width: 100%;
		}
	}

	&__links {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		column-gap: 20px;
		row-gap: 10px;
		flex-wrap: wrap;
		margin-top: auto;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--color-light-grey);
		border-radius: 10px;
		@include mixins.adaptiveValue('font-size', 18, 16);
		text-decoration: none;
		color: var(--color-text-grey);
		padding: 5px 10px;
		transition: all 0.3s ease-in-out;
		white-space: nowrap;

		@include mixins.hover {
			transform: translate(0, -5px);
			color: var(--color-dark);
		}

		img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
	}

	&.loading::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	&.loading::after {
		content: '';
		position: absolute;
		width: 100px;
		height: 100px;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		background: url('../@img/loading.svg') center/contain no-repeat;
		z-index: 2;
	}

	&.loading.open {
		&::after {
			animation: 2s linear 0s normal none infinite running rotate;
		}
	}
}

.popup-text {
	&__title {
		margin-bottom: 10px;
		color: var(--color-dark);
	}

	&__list {
		padding-left: 30px;

		li {
			list-style: decimal;

			&:not(:last-child) {
				margin-bottom: 3px;
			}

			a {
				color: var(--color-dark);
				text-decoration: underline;
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
