@use 'sass:math';
// mixins
@import './media';

// ADAPTIVE FONT
@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidthM: $maxWidth - 320;
	#{$property}: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthM})
	);
}
// Using: @include adaptiveValue('width', 300, 400);

// Hover
@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
	@media (hover: none) {
		&:active {
			@content;
		}
	}
}
// Using: @include hover {...}

// TRIANGLE
@mixin triangle($color, $direction, $size) {
	position: absolute;
	width: 0;
	height: 0;
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
		margin-top: 0 - round(calc($size / 2.5));
	} @else if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		margin-bottom: 0 - round(calc($size / 2.5));
	} @else if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
		margin-right: -$size;
	} @else if $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
		margin-left: -$size;
	}
}
// Using: @include triangle(red, right, 10px)
